body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f6faf8; 
  padding-top: 70 px;
}

.navbar {
  background-color: #greenyellow; 
}

.navbar-brand {
  font-weight: bold;
  color: #green;
}

.nav-link {
  color: #0f3d2e;
  font-weight: 500;
}

.btn-ofertas {
  background-color: #ffe8a1; 
  color: #000;
  font-weight: 600;
  border-radius: 20 px;
}

.section-title,
h2 {
  color: #c94a4a; 
  font-weight: 700;
  margin-bottom: 20px;
}

.carousel-caption {
  background: rgba(255, 255, 255, 0.75);
  padding: 18px;
  border-radius: 15px;
  color: #0f3d2e;
}

.card {
  border: none;
  border-radius: 15 px;
  background-color: #ffffff;
  box-shadow: 0 6 px 15 px rgba(0,0,0,0.08);
  
}

.card-title {
  color: #2f9e44; 
  font-weight: bold;
}

.card img {
  border-top-left-radius: 15 px;
  border-top-right-radius: 15 px;
}

.btn-danger {
  background-color: #e35d5b; 
  border: none;
}

.btn-danger:hover {
  background-color: #c94a4a;
}

.btn-success {
  background-color: #6fcf97; 
  border: none;
}

.btn-success:hover {
  background-color: #51b87d;
}

.nav-tabs .nav-link {
  color: #2f9e44;
  font-weight: 600;
}

.nav-tabs .nav-link.active {
  background-color: #e35d5b;
  color: #ffffff;
  border: none;
}

form label {
  font-weight: 600;
  color: #2f9e44;
}

footer {
  background-color: rgb(129, 45, 45);
  color: #7a1f1f;
}





